// Imported Fonts
@font-face {
    font-family: 'Alata';
    src: url(font/Alata-Regular.ttf);
}

@font-face {
    font-family: 'Josefin Sans';
    src: url(font/JosefinSans-Regular.ttf);
}

@font-face {
    font-family: 'Josefin Sans Light';
    src: url(font/JosefinSans-Light.ttf);
}












//MIXINS
@mixin respond($breakpoint) {
    
    @if $breakpoint == phone {
        @media (max-width: 37.5em) { @content }; //600px
    }
    
    @if $breakpoint == tab-port {
        @media (max-width: 43.75em) { @content };  //700px
    }

    @if $breakpoint == tab-land {
        @media (max-width: 62.5em) { @content };  //1000px
    }

    @if $breakpoint == big-desktop {
        @media (min-width: 112.5em) { @content }; //1800px
    }
}






// DEFAULT STYLES
*, 
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    
    @include respond(tab-land) {
        font-size: 87.5%;
    }

    @include respond(tab-port) {
        font-size: 62.5%;
    }

    @include respond(big-desktop) {
        font-size: 130%;
    }
}

::selection {
    color: #fff;
    background-color: rgb(153, 80, 221);
}





/* HEADER */
.header {
    height: 40rem;
    background-image: url(images/desktop/image-hero.jpg);
    background-size: cover;
    padding: 2rem 7rem;

    @include respond(tab-land) {
        padding: 2rem 2rem;
        background-image: url(images/mobile/image-hero.jpg);
    }

    @include respond(tab-port) {
        height: 55rem;
    }

    @include respond(big-desktop) {
        padding: 2rem 20rem;
    }
}

.header__flex {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
}

.header__logo {
    z-index: 10;
}

.header__logo--svg {

    @include respond(tab-port) {
        height: 2.1rem;
    }
} 

.header__navigation {
    font-family: 'Alata';


    @include respond(tab-port) {
        display: none;
    }
}

/* .header__navigation ul {

} */

.header__navigation li {
    list-style-type: none;
    display: inline;
    margin-right: 1.6rem;
}

.header__navigation li:last-of-type {
    margin-right: 0;
}

.header__navigation a {
    text-decoration: none;
    color: #fff;
    font-weight: 300;
    position: relative;
    padding-bottom: .5rem;
    backface-visibility: hidden;
}

.header__navigation a::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    width: 0;
    background-color: hsl(0, 0%, 100%);
    height: 3px;
    text-align: center;
    margin: 0 auto;
    transition: .2s; 
}

.header__navigation a:hover::after {
    width: 80%;
}



//MOBILE NAVIGATION
.mobile__navigation {
    display: none;
    position: absolute;
    top: 0;
    left: 0;

    @include respond(tab-port) {
        display: block;
    }
}

.mobile__navigation--full {
    display: none;

    @include respond(tab-port) {
        display: none;
        padding: 2rem 2rem;
        background-color: hsl(0, 0%, 0%);
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: 5;
    }
}

.mobile__nav--flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
}

.mobile__logo--svg {
    height: 2.1rem;
}

.hamburger-icon {
    display: none;

    @include respond(tab-port) {
        display: block;
        z-index: 10;
    }
}

.hamburger-container {
    display: none;
    background-image: url(images/icon-hamburger.svg);
    background-position: center;
    //background-size: cover;
    background-repeat: no-repeat;
    width: 2.4rem;
    height: 1.6rem;

    @include respond(tab-port) {
        display: block;
        z-index: 10;
    }
}

.hamburger-container-new {

    background-image: url(images/icon-close.svg);
}

// .hamburger-close-icon {

// }

.mobile__nav--list {
    font-size: 2.5rem;
    margin-top: 20rem;
}

.mobile__nav--list ul {
    font-family: 'Josefin Sans Light', sans-serif;
}

.mobile__nav--list li {
    text-transform: uppercase;
    list-style-type: none;
    margin-bottom: 2.5rem;
}

.mobile__nav--list a {
    text-decoration: none;
    color: hsl(0, 0%, 100%);
    font-weight: 100;
}







.header__box {
    border: 2px solid #fff;
    width: 60%;
    padding: 2rem;
    margin-top: 5rem;

    @include respond(tab-land) {
        width: 70%;
    }

    @include respond(tab-port) {
        margin-top: 12rem;
        width: 100%;
    }
}

.header__box--text {
    color: #fff;
    font-family: 'Josefin Sans Light';
    font-weight: 300;
    font-size: 3.5rem;

    @include respond(tab-land) {
        font-size: 3.7rem;
    }
}




//SHOWCASE
.showcase {
    padding: 7rem 7rem;

    @include respond(tab-land) {
        padding: 7rem 2rem;
    }

    @include respond(big-desktop) {
        padding: 7rem 20rem;
    }
}

.showcase__interactive {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    margin-bottom: 7rem;

    @include respond(tab-land) {
        display: block;
    }
}

.showcase__img {
    grid-column: 1 / 3;
    grid-row: 1 / 2;

}

.image-interactive {
    
    @include respond(tab-land) {
        width: 100%;
    }
} 

.showcase__header {
    background-color: #fff;
    grid-column: 4 / -1;
    grid-row: 1 / 2;
    align-self: flex-end;
    padding: 6rem 0 0 6rem;

    @include respond(tab-land) {
        padding: 6rem 0 0 0;
        text-align: center;
    }
}

.showcase__header h2 {
    font-family: 'Josefin Sans Light', sans-serif;
    font-size: 2.5rem;
    font-weight: 300;
    margin-bottom: 2rem;

    @include respond(tab-land) {
        font-size: 2.7rem;
    }
}

.showcase__header p {
    font-family: 'Alata', sans-serif;
    font-size: 15px;
    color: hsl(0, 0%, 41%);
}

.showcase__grid--header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4rem;

    @include respond(tab-port) {
        justify-content: center;
    }
}

.showcase__grid--header h2 {
    font-family: 'Josefin Sans Light', sans-serif;
    font-size: 2.5rem;
    font-weight: 300;

    @include respond(tab-port) {
        text-align: center;
        font-size: 2.7rem
    }
}

.showcase__grid--header a {
    font-family: 'Alata', sans-serif;
    border: 1px solid hsl(0, 0%, 0%);
    color: hsl(0, 0%, 0%);
    text-decoration: none;
    padding: .5rem 3rem;
    letter-spacing: .5ch;
    transition: .2s;

    @include respond(tab-port) {
        display: none;
    }
}

.showcase__grid--header a:hover {
    background-color: hsl(0, 0%, 0%);
    color: hsl(0, 0%, 100%);
}

.showcase__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 28rem 28rem;
    // grid-auto-flow: column;
    gap: 2rem;

    @include respond(tab-land) {
        display: block;
    }
}

.showcase__grid--item {
    position: relative;
    font-family: 'Josefin Sans Light', sans-serif;
    font-weight: 300;
    font-size: 2.5rem;
    color: hsl(0, 0%, 100%);
    padding: 2rem;
    display: flex;
    align-items: flex-end;

    @include respond(tab-land) {
        margin-bottom: 2rem;
        height: 15rem;
    }

    @include respond(tab-port) {
        height: 12rem;
    }
}

.showcase__grid--img {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: .2s;

    @include respond(tab-land) {
        background-position: center;
    }
}

.showcase__grid--item h6 {
    width: 80%;
    font-family: 'Josefin Sans Light', sans-serif;
    font-weight: 300;
    color: hsl(0, 0%, 100%);
    z-index: 1;
    transition: .2s;
    font-size: 2.1rem;

    @include respond(tab-land) {
        width: 50%;
        font-size: 2.2rem;
    }
}

.showcase__grid--item:hover .showcase__grid--img {
    opacity: .4;
}

.showcase__grid--item:hover h6 {
    color: hsl(0, 0%, 0%);
}



/* .showcase__grid--item {
    font-family: 'Josefin Sans Light', sans-serif;
    font-weight: 300;
    font-size: 2.5rem;
    color: hsl(0, 0%, 100%);
    padding: 2rem;
    display: flex;
    align-items: flex-end;
    background-repeat: no-repeat;
    background-size: cover;
    transition: .1s;
} */


.showcase__grid--img-1 {
    background-image: url(images/desktop/image-deep-earth.jpg);

    @include respond(tab-land) {
        background-image: url(images/mobile/image-deep-earth.jpg);
    }
}

.showcase__grid--img-2 {
    background-image: url(images/desktop/image-night-arcade.jpg);

    @include respond(tab-land) {
        background-image: url(images/mobile/image-night-arcade.jpg);
    }
}

.showcase__grid--img-3 {
    background-image: url(images/desktop/image-soccer-team.jpg);

    @include respond(tab-land) {
        background-image: url(images/mobile/image-soccer-team.jpg);
    }
}

.showcase__grid--img-4 {
    background-image: url(images/desktop/image-grid.jpg);

    @include respond(tab-land) {
        background-image: url(images/mobile/image-grid.jpg);
    }
}

.showcase__grid--img-5 {
    background-image: url(images/desktop/image-from-above.jpg);

    @include respond(tab-land) {
        background-image: url(images/mobile/image-from-above.jpg);
    }
}

.showcase__grid--img-6 {
    background-image: url(images/desktop/image-pocket-borealis.jpg);

    @include respond(tab-land) {
        background-image: url(images/mobile/image-pocket-borealis.jpg);
    }
}

.showcase__grid--img-7 {
    background-image: url(images/desktop/image-curiosity.jpg);

    @include respond(tab-land) {
        background-image: url(images/mobile/image-curiosity.jpg);
    }
    
}

.showcase__grid--img-8 {
    background-image: url(images/desktop/image-fisheye.jpg);

    @include respond(tab-land) {
        background-image: url(images/mobile/image-fisheye.jpg);
    }
}

.mobile__cta  {
    display: none;
    
    @include respond(tab-port) {
        display: flex;
        justify-content: center;
    }
    
    & a {

        @include respond(tab-port) {
            display: block;
            font-family: 'Alata', sans-serif;
            border: 1px solid hsl(0, 0%, 0%);
            color: hsl(0, 0%, 0%);
            text-decoration: none;
            padding: .5rem 3rem;
            letter-spacing: .5ch;
            transition: .2s;
            margin-top: 2rem;
        }  
    }
}

/* .showcase__grid--item h6 {
    width: 90%;
    font-family: 'Josefin Sans Light', sans-serif;
    font-weight: 300;
    color: hsl(0, 0%, 100%);
}  */

.footer {
    background-color: hsl(0, 0%, 0%);
    padding: 3rem 7rem;
    color: hsl(0, 0%, 100%);
    font-family: 'Alata';
    display: flex;
    justify-content: space-between;

    @include respond(tab-land) {
        flex-direction: column;
        padding: 3rem 2rem;
    }
 
    @include respond(big-desktop) {
        padding: 3rem 20rem;
    }
}

// .footer__right {
    
// }

.footer__left {
    margin-bottom: 2rem;
}

.footer__logo {
    margin-bottom: 1rem;
    
    @include respond(tab-land) {
        text-align: center;
        margin-bottom: 2.5rem;
    }
}

.footer__logo--svg {

    @include respond(tab-port) {
        height: 2.1rem;
    }
}

.footer__socials {
    margin-bottom: 1rem;
    display: flex;
    justify-content: flex-end;

    @include respond(tab-land) {
        justify-content: center;
    }
} 

.footer__socials--icon {
    display: inline;
    margin-right: 1.4rem;
    padding-bottom: .4rem;
    position: relative;
    backface-visibility: hidden;

    @include respond(tab-land) {
        margin-right: 1.6rem;
        height: 2.2rem;
    }
}

.footer__socials--icon img {
    height: 100%;
}

.footer__socials--icon::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    width: 0;
    background-color: hsl(0, 0%, 100%);
    height: 3px;
    text-align: center;
    margin: 0 auto;
    transition: .2s; 
}

.footer__socials--icon:hover::after {
    width: 100%;
}

// .footer__nav {

// }

.footer__nav ul {
    
    @include respond(tab-land) {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
} 

.footer__nav li {
    list-style: none;
    display: inline;
    margin-right: 1.6rem;

    @include respond(tab-land) {
    //    display: block;
    //    text-align: center; 
        margin-right: 0;
        margin-bottom: 1.6rem;
    }
}

.footer__nav a {
    text-decoration: none;
    color: hsl(0, 0%, 100%);
    position: relative;
    padding-bottom: .5rem;
    backface-visibility: hidden;
}

.footer__nav a::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    width: 0;
    background-color: hsl(0, 0%, 100%);
    height: 3px;
    text-align: center;
    margin: 0 auto;
    transition: .2s; 
}

.footer__nav a:hover::after {
    width: 80%;
}

.copyright {
    color: hsl(0, 0%, 41%);
    text-align: right;

    @include respond(tab-land) {
        text-align: center;
    }
}

.show {
    display: block;
}

.hidden {
    display: hidden;
}