@font-face {
    font-family: 'Alata';
    src: url(font/Alata-Regular.ttf);
}

@font-face {
    font-family: 'Josefin Sans';
    src: url(font/JosefinSans-Regular.ttf);
}

@font-face {
    font-family: 'Josefin Sans Light';
    src: url(font/JosefinSans-Light.ttf);
}

*, 
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::selection {
    color: #fff;
    background-color: hsl(0, 0%, 6%);
}


/* HEADER */
.header {
    height: 40rem;
    background-image: url(images/desktop/image-hero.jpg);
    background-size: cover;
    padding: 2rem 10rem;
}

.header__flex {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
}

/* .header__logo {

}

.header__logo--svg {

} */

.header__navigation {
    font-family: 'Alata';
}

/* .header__navigation ul {

} */

.header__navigation li {
    list-style-type: none;
    display: inline;
    margin-right: 1.6rem;
}

.header__navigation a {
    text-decoration: none;
    color: #fff;
    font-weight: 300;
    position: relative;
    padding-bottom: .7rem;
    backface-visibility: hidden;
}

.header__navigation a::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    width: 0;
    background-color: hsl(0, 0%, 100%);
    height: 3px;
    text-align: center;
    margin: 0 auto;
    transition: .2s; 
}

.header__navigation a:hover::after {
    width: 80%;
}

.header__box {
    border: 2px solid #fff;
    width: 60%;
    padding: 2rem;
    margin-top: 5rem;
}

.header__box--text {
    color: #fff;
    font-family: 'Josefin Sans Light';
    font-weight: 300;
    font-size: 3.5rem;
}

.showcase {
    padding: 7rem 7rem;
}

.showcase__interactive {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin-bottom: 7rem;
}

.showcase__img {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}

/* .image-interactive {

} */

.showcase__header {
    background-color: #fff;
    grid-column: 4 / -1;
    grid-row: 1 / 2;
    align-self: flex-end;
    padding: 6rem 0 0 6rem;
}

.showcase__header h2 {
    font-family: 'Josefin Sans Light', sans-serif;
    font-size: 2.5rem;
    font-weight: 300;
    margin-bottom: 2rem;
}

.showcase__header p {
    font-family: 'Alata', sans-serif;
    font-size: 15px;
    color: hsl(0, 0%, 41%);
}

.showcase__grid--header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 4rem;
}

.showcase__grid--header h2 {
    font-family: 'Josefin Sans Light', sans-serif;
    font-size: 2.5rem;
    font-weight: 300;
}

.showcase__grid--header a {
    font-family: 'Alata', sans-serif;
    border: 1px solid hsl(0, 0%, 0%);
    color: hsl(0, 0%, 0%);
    text-decoration: none;
    padding: .5rem 3rem;
    letter-spacing: .5ch;
    transition: .2s;
}

.showcase__grid--header a:hover {
    background-color: hsl(0, 0%, 0%);
    color: hsl(0, 0%, 100%);
}

.showcase__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 28rem);
    gap: 2rem;
}

.showcase__grid--item {
    position: relative;
    font-family: 'Josefin Sans Light', sans-serif;
    font-weight: 300;
    font-size: 2.5rem;
    color: hsl(0, 0%, 100%);
    padding: 2rem;
    display: flex;
    align-items: flex-end;

}

.showcase__grid--img {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: .2s;
}

.showcase__grid--item h6 {
    width: 80%;
    font-family: 'Josefin Sans Light', sans-serif;
    font-weight: 300;
    color: hsl(0, 0%, 100%);
    z-index: 1000;
    transition: .2s;
}

.showcase__grid--item:hover .showcase__grid--img {
    opacity: .4;
}

.showcase__grid--item:hover h6 {
    color: hsl(0, 0%, 0%);
}



/* .showcase__grid--item {
    font-family: 'Josefin Sans Light', sans-serif;
    font-weight: 300;
    font-size: 2.5rem;
    color: hsl(0, 0%, 100%);
    padding: 2rem;
    display: flex;
    align-items: flex-end;
    background-repeat: no-repeat;
    background-size: cover;
    transition: .1s;
} */


.showcase__grid--img-1 {
    background-image: url(images/desktop/image-deep-earth.jpg);
}

.showcase__grid--img-2 {
    background-image: url(images/desktop/image-night-arcade.jpg);
}

.showcase__grid--img-3 {
    background-image: url(images/desktop/image-soccer-team.jpg);
}

.showcase__grid--img-4 {
    background-image: url(images/desktop/image-grid.jpg);
}

.showcase__grid--img-5 {
    background-image: url(images/desktop/image-from-above.jpg);
}

.showcase__grid--img-6 {
    background-image: url(images/desktop/image-pocket-borealis.jpg);
}

.showcase__grid--img-7 {
    background-image: url(images/desktop/image-curiosity.jpg);
}

.showcase__grid--img-8 {
    background-image: url(images/desktop/image-fisheye.jpg);
}

/* .showcase__grid--item h6 {
    width: 90%;
    font-family: 'Josefin Sans Light', sans-serif;
    font-weight: 300;
    color: hsl(0, 0%, 100%);
}  */

.footer {
    background-color: hsl(0, 0%, 0%);
    padding: 3rem 7rem;
    color: hsl(0, 0%, 100%);
    font-family: 'Alata';
}

.footer__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.footer__bottom {
    display: flex;
    justify-content: space-between;
}

/* .footer__logo {

}

.footer__socials {
    
} */

.footer__socials--icon {
    display: inline;
    margin-right: .7rem;
    padding-bottom: .7rem;
    position: relative;
    backface-visibility: hidden;
}

.footer__socials--icon::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    width: 0;
    background-color: hsl(0, 0%, 100%);
    height: 3px;
    text-align: center;
    margin: 0 auto;
    transition: .2s; 
}

.footer__socials--icon:hover::after {
    width: 100%;
}

/* .footer__nav {

}

.footer__nav ul {

} */

.footer__nav li {
    list-style: none;
    display: inline;
    margin-right: 1.6rem;
}

.footer__nav a {
    text-decoration: none;
    color: hsl(0, 0%, 100%);
    position: relative;
    padding-bottom: .7rem;
    backface-visibility: hidden;
}

.footer__nav a::after {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    width: 0;
    background-color: hsl(0, 0%, 100%);
    height: 3px;
    text-align: center;
    margin: 0 auto;
    transition: .2s; 
}

.footer__nav a:hover::after {
    width: 80%;
}

.copyright {
    color: hsl(0, 0%, 41%);
}